
:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape: 18em;
}



body{
    font-family: 'Inter', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #abd6f3 25%, transparent 25%, transparent 75%, #abd6f3 75%, #abd6f3), repeating-linear-gradient(45deg, #abd6f3 25%, #e5e5f7 25%, #e5e5f7 75%, #abd6f3 75%, #abd6f3);
    background-position: 0 0, 4px 4px;
    background-size: 8px 8px;
}

.card__img{
    width: 150px
    background #000;
}
 .footer__icon{
     width: 40px;
     fill: #fff;
     background: #000;

}

.cotainer{
     width: var(--width-container);
     max-width: var(--max-width-container);
     padding: var(--padding-container);
     margin: 0 auto;
     overflow: hidden;
}

.hero{
     height: 100vh;
     min-width: 500px;
     position: relative;
     --padding-container: 0;
}

.hero__container{
     display: grid;
     height: 100%;
     grid-template-columns: 3fr 2fr;
     place-items: center;
     gap: 20px;
}

